.phoneComponent {
  width: 248px;
  height: 504px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: var(--White);
  box-shadow: 5px 5px 18px 0 #e8e8e8;
  padding: 10px;
}

.phoneContainer {
  width: 228px;
  height: 484px;
  border-radius: 20px;
  background-color: var(--LightGrayViolet);
  position: relative;
}

.phoneHeader {
  position: relative;
  background-image: linear-gradient(to right, var(--LightViolet), var(--Magenta));
  height: 66px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.headerCutout {
  position: absolute;
  width: 130px;
  height: 36px;
  background-color: var(--White);
  border-radius: 15px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerContainer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
}

.headerBack {
  display: flex;
  align-items: center;
  padding-right: 12px;
  color: var(--White);
}

.headerImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--White);
}

.headerImg {
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.headerTextContainer {
  padding-left: 8px;
}

.headerName {
  font-size: .7em;
  font-weight: 500;
  margin-bottom: 2px;
  letter-spacing: .5px;
  color: var(--White);
}

.headerText {
  font-size: .25em;
  font-weight: 400;
  color: var(--PaleViolet);
}

.headerMenu {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
}

.burger {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: var(--White);
  margin-bottom: 2px;
}

.burgerBot {
  margin-bottom: 0;
}

/* Phone Chat */
.phoneChat {
  margin: 12px 8px;
  position: relative;
}

.chatMessageContainer {
  width: 100%;
  display: flex;
}

.chatMessageContainerRt {
  justify-content: flex-end;
}

.chatMessageContainerRtLast {
  margin-bottom: 8px;
}

.chatMessage {
  border-radius: 10px;
  margin-bottom: 8px;
  font-size: .4em;
  width: 66%;
  padding: 7px;
}

.chatMessageLeft {
  background-color: var(--PaleViolet);
  color: var(--Violet);
  border-bottom-left-radius: 3px;
}

.chatMessageRight {
  background-color: var(--White);
  color: var(--DesatViolet);
  border-bottom-right-radius: 3px;
  box-shadow: 4px 4px 8px 0 #e8e8e8;
}

.chatMessageRightLast {
  width: 41%;
}

.chatMessageImgContainer {
  display: flex;
  padding-top: 8px;
  margin-bottom: 8px;
  justify-content: flex-end;
}

.chatImgSpan {
  width: 40px;
  height: 40px;
  margin-left: 8px;
}

.chatImg {
  width: 100%;
  border-radius: 10px;
}

.chatRadioContainer {
  background-image: linear-gradient(to left, var(--LightViolet), var(--Magenta));
  width: 73%;
  padding: 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--White);
  border-radius: 10px;
  border-bottom-left-radius: 3px;
  margin-bottom: 8px;
}

.chatRadio {
  background-color: var(--Magenta);
  border: 1px solid var(--LightMagenta);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.chatRadioText {
  font-size: .5em;
  display: flex;
  align-items: center;
  opacity: .6;
}

.chatRadioPrice {
  font-size: .8em;
  padding-right: 8px;
}

.chatOff{
  display: none;
}

.chatOn {
  display: block;
}

/* Submit */
.phoneSubmit {
  margin: 0px 8px;
  padding-top: 4px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 8px;
}

.submitContainer {
  background-color: var(--White);
  height: 36px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.submitPlaceholder {
  color: var(--GrayBlue);
  font-size: .5em;
  padding-left: 8px;
}

.submitButton {
  border-radius: 50%;
  background-color: var(--DarkViolet);
  color: var(--White);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1100px) {
  .phoneComponent {
  margin: 0 125px 0 0;
  margin-left: 100px;
  }
}