#root {
/* Colors */
/* Text */
/* Primary */
--PaleViolet: hsl(270, 42%, 93%);  /* (sub-heading at the top of the app UI) */
--Violet: hsl(276, 55%, 52%);       /* (chat on the left) */
--DesatViolet: hsl(271, 15%, 43%);  /* (chat on the right) */
--GrayBlue: hsl(206, 6%, 79%);      /* (placeholder text) */

--DarkViolet: hsl(271, 36%, 24%);   /* (main heading), (submit button background) */
--GrayViolet: hsl(270, 7%, 64%);    /* (paragraph) */

/* Secondary */
--White: hsl(0, 0%, 100%);
--LightGrayViolet: hsl(264, 33%, 97%);  /* (app background) */
--LightMagenta: hsl(289, 100%, 72%);    /* (radio button outline) */

/* Gradient */
--Magenta: hsl(293, 100%, 63%);       /* Gradient1 */
--LightViolet: hsl(264, 100%, 61%);   /* Gradient2 */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: hsl(206, 6%, 79%);
}

.App {
  background-color: var(--White);
  width: 100vw;
  max-width: 1440px;
  height: 100vh;
  position: relative;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}